@import 'initializr.scss';
@import 'compass/reset';
@import 'compass/css3';

@mixin rem($size)
{
  font-size:#{$size}px;
  font-size:#{$size/16}rem;
}
$bleu:#0097b9;
$orange:#b63800;
$rose:#b6003c;
$highlight:$bleu;



.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {
  display: inline-block;
}
 
html[xmlns] .clearfix {
  display: block;
}
html{
  height:100%;
  background-color:#000;
  background-image:url(/img/fond3.jpg);
  background-repeat: repeat-x;
  background-position: top center;
  background-attachment:fixed;
} 

#container{
  max-width:930px;
  margin:0 auto;
}

body{
  // @include background-image(linear-gradient(left,$c4, $c5));
  font-family: 'PT Sans Narrow', sans-serif;

  color:#FFF
}

header{
  position:fixed;
  @include transition-property(all);
  @include transition-duration(1s);
  z-index:999;
  @include background-image(linear-gradient(rgba(20,20,20,1) 10%,rgba(20,20,20,0)));
  left:0;
  top:0;
  height:7em;
  width:100%;
  li{
    float: left;
    width:20%;

  }
  a,a:visited{
    text-transform: uppercase;
    text-decoration: none;
    color:#FFF;
    @include rem(20);
    display: block;
    @include border-bottom-radius(0.6em);
    text-align: center;
    padding:0.2em 0.5em;
    opacity: 0.7;
    @include transition-property(all);
    @include transition-duration(0.4s);    
    &:hover,&:active,&.on{
      padding:0.4em 0.5em;
      background:$highlight;
      color:#FFF;
      @include transition-property(all);
      @include transition-duration(0.4s);
      opacity: 1;
    }
  }
}
#me{
  width:12em;
  height:8em;
  text-align: center;
  padding:3em 1em;
  @include rem(22);
  @include border-radius(8em);
  @include background-image(linear-gradient(#2f2f2e 0%, #07090a 15%,#13191b 30%, $highlight 100%));
  @include box-shadow(1px 2px 5px 1px #000 inset);
  position:fixed;
  top:10%;
  right:40%;
  @include transition-property(all);
  @include transition-duration(1s);
  z-index: 999;
  h2{
    font-size: 1.1em;
    color:#FFF;
    @include single-text-shadow(#000, 1px, 1px, 1px);
  }
  h1{
    color:#000;
    text-align: center;
    @include rem(50);
    @include transition-property(all);
    @include transition-duration(1s);
    color:$highlight;
    @include single-text-shadow(#000, 1px, 2px, 0);
  }
  p{
    font-size:0.9em;
    text-align: center;
    margin-top: 0.6em;
    color:#000;
  }
}
.oldie{
  header{
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff000000,endColorstr=#00000000);
  }
  .bloc{
    background:#121213;
  }
  #me{
    behavior: url(/js/libs/PIE.htc);
    background:url(/img/fond-me.png) repeat-x top center;
    h1{
      margin-top:2em;
      @include rem(45);
    }
    h2{
      font-size:1em;
    }
  }
  .corner #me h2{
    font-size:0.9em;
  }
}
a{
  color:lighten($highlight,20%);
  &:visited{
    color:lighten($highlight,40%);
  }
  &:visited:hover,&:hover{
    color:$highlight;
  }
}
.corner #me{
  @include border-radius(160px);
  @include transition-property(all);
  @include transition-duration(1s);
  h1{
    @include rem(30);
    @include transition-property(all);
    @include transition-duration(1s);
  }
  @include rem(16);
  top:6%;
  right:2%;
}
strong{
  background:darken($highlight,20%);  
  padding:0.1em 0.3em;
  display: inline-block;
  @include border-radius(2px);
}
em{
  font-style:italic;
}
h2,h3,ul,p{
  margin-bottom: 0.3em;
}
h3{
  font-size:1.4em;
  @include single-text-shadow(#000, -1px, 1px, 0px);
  margin-bottom: 0.4em;
}
h2{
  font-size:2em;
  color:$highlight;
  @include single-text-shadow(#000, -1px, 1px, 0px);
}
p,dt,dd{
  line-height: 1.2em; 
  text-align: justify;
}
.bloc{
  margin:1em; 
  padding:5em 1em 3em 1em;  
  @include background-image(linear-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 15%, rgba(0,0,0,0.1) 85%, rgba(0,0,0,0) 100%));
  
  li{
    line-height: 1.2em;
    margin-left:1em;
    margin-top: 0.3em;
    padding-left:20px;
    background:url(/img/check4.png) no-repeat left 2px;
  }
  div{
    margin:0 0 0 1em;
  }
  dt{
    font-size:1.1em;
    margin-bottom: 0.3em;
    background:darken($highlight,20%);
    color:#FFF;
    padding:4px;
    @include border-radius(3px);
    
  }
  dd{
    margin-bottom: 0.7em;
  }
}
.main,.related{
  float: left;
  margin:0!important;
}
.main{
  width:40%
}
.clear{
  clear: both;
}
.related{
  width:58%;
  font-size:0.9em;
  padding-left:2%;
  color:#c3c3c3;
}
#main{
  margin-top: 26em;
}
.sousbloc{
  margin-bottom: 1em!important;
  padding-bottom:1em;
  border-bottom:1px dashed darken($highlight,20%);
  clear: both;
  &:last-child{
    border-bottom:none;
  }
}
#contact{
  padding-bottom:50em;
  div{
    margin:0;
  }
}
.vcard{
  font-size:1.1em;
}
.social{
  a{
    text-decoration: none;
    display: inline-block;
    font-size:1.1em;
    padding:0.4em 0.4em 0.4em 30px;
    @include border-radius(0.6em);
    background-color:rgba(255,255,255,0);
    background-position:5px center;
    @include transition-property(all);
    @include transition-duration(0.5s);
    background-repeat:no-repeat;
    &.twitter{
      background-image:url(/img/icons/twitter.png);
    }
    &.email{
      background-image:url(/img/icons/email.png);
    }
    &:hover,&:visited:hover{
      background-color:rgba(255,255,255,0.9);
      color:#000;
    }
  }
}

@import 'mq.scss';